{% extends 'base.html' %}

{% block content %}
<main>
    <div class="row"></div>
    <section class="col-md-4 offset-md-4 mt-5">
        <form action="/signin/" method="post" class="card card-body">
            <h1 class="text-center">Signin</h1>
            {% csrf_token %}

            {{error}}
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input type="text" name="username" id="Username" class="form-control" placeholder="Enter username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Enter password">
            </div>

            <button class="btn btn-primary">Signin</button>
        </form>
    </section>
    </div>
</main>
{% endblock content %}